.answer {
  position: relative;
  padding: 10vh 0;
  width: 100%;
  .title {
    @extend %default-bg;
    margin: auto;
    background-image: url(./answer/images/title_answer.png);
  }
  &-list {
    @extend %default;
    position: static;
    display: block;
  }
  &-box {
    display: block;
    button {
      display: flex;
      flex-direction: row;
      position: relative;
      text-align: left;
      svg {
        width: 2rem;
      }
      .cross {
        width: 2rem;
        display: inline-block;
      }
    }

    p {
      position: relative;
      text-align: left;
      text-align: justify;
      left: 4%;
      width: 96%;
    }
  }
  .button {
    &-box {
      @extend %default;
      position: static;
      display: flex;
      justify-content: space-between;
    }
    &-question-list,
    &-tryagain {
      @extend %default-bg;
      display: inline-block;
      transition: transform 200ms;
      &:active {
        width: 224px;
        height: 70px;
      }
    }
    &-question-list {
      background-image: url(./shared/images/btn_result.png);
      &:active {
        background-image: url(./shared/images/btn_result_active.png);
      }
    }
    &-tryagain {
      background-image: url(./shared/images/btn_highline.png);
      &:active {
        background-image: url(./shared/images/btn_highline_active.png);
      }
    }
  }
  @media only screen and ($mediaSm) {
    .title {
      width: 193px;
      height: 28px;
    }
    &-scrollbox {
      height: 80vh;
      overflow-y: scroll;
    }
    &-list {
      width: 300px;
    }
    &-box {
      margin: 1.2vh 0;
      h3 {
        font-size: 1rem;
        line-height: 2.2rem;
        letter-spacing: 0.12rem;
        text-align: left;
        white-space: nowrap;
        img {
          width: 36px;
          height: 36px;
        }
      }
      p {
        font-size: 0.95rem;
        line-height: 1.2rem;
        letter-spacing: 0.2rem;
      }
    }
    .button {
      &-box {
        width: 300px;
      }
      &-question-list,
      &-tryagain {
        width: 147px;
        height: 46px;
        &:active {
          width: 145px;
          height: 44px;
        }
      }
    }
  }
  @media only screen and ($mediaMdLg) {
    &-scrollbox {
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 15px;
        &-track {
          border-radius: 15px;
          background: $highline-color-40;
          box-shadow: inset 0 0 5px $highline-color-40;
        }
        &-thumb {
          background: $highline-color;
          border-radius: 10px;
          &:hover {
            background: $primary-color;
          }
        }
      }
      .title {
        width: 193px;
        height: 28px;
      }
    }
    &-list {
      margin-top: 2vh;
      padding: 0 25vh;
      height: 74vh;
    }
    &-box {
      margin: 1.2vh 0;
      h3 {
        letter-spacing: 0.4rem;
        img {
          width: 36px;
          height: 36px;
        }
      }
      p {
        letter-spacing: 0.3rem;
      }
    }
    .button {
      &-box {
        width: 520px;
      }
      &-question-list,
      &-tryagain {
        width: 234px;
        height: 79px;
        &:hover {
          width: 224px;
          height: 70px;
        }
        &:active {
          width: 224px;
          height: 70px;
        }
      }
      &-question-list {
        &:hover {
          background-image: url(./shared/images/btn_result_hover.png);
        }
      }
      &-tryagain {
        &:hover {
          background-image: url(./shared/images/btn_highline_hover.png);
        }
      }
    }
  }
}
