.questionlist {
  position: relative;
  padding: 10vh 0;
  width: 100%;
  .nav {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    background-color: $bg-color;
    background-image: url(./shared/images/bgline.png);
    z-index: 1;
    .title {
      @extend %default;
      width: 193px;
      height: 28px;
      background-image: url(./questionList/images/title_questionlist.png);
    }
    .tag {
      &-box {
        @extend %default-position;
        position: static;
        display: flex;
        justify-content: space-between;
        width: 600px;
        margin-top: 6vh;
      }
      @extend %default-bg;
      width: 167px;
      height: 53px;
      background-image: url(./shared/images/btn_result.png);
      transition: transform 200ms;
      &:active {
        width: 170px;
        height: 56px;
        background-image: url(./shared/images/btn_result_active.png);
      }
    }
  }
  .border {
    &-top {
      img {
        // position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(./shared/images/btn_result.png);
      }
    }
  }
  .question {
    &-list {
      @extend %default;
      position: static;
      margin: 0 auto;
      display: block;
      margin-top: 16vh;
      width: 800px;
    }
    &-box {
      margin: 1.2vh 0;
      display: block;
      button {
        display: flex;
        flex-direction: row;
        position: relative;
        text-align: left;
        svg {
          width: 2rem;
        }
        .cross {
          width: 2rem;
          display: inline-block;
        }
      }
      .p {
        position: relative;
        left: 4%;
        text-align: left;
        text-align: justify;
        width: 96%;
      }
    }
  }
  .button {
    &-box {
      @extend %default;
      display: flex;
      justify-content: space-between;
    }
    &-share,
    &-tryagain {
      @extend %default-bg;
      display: inline-block;
      width: 234px;
      height: 79px;
      transition: transform 200ms;
      &:hover {
        width: 241px;
        height: 77px;
      }
      &:active {
        width: 241px;
        height: 77px;
      }
    }
    &-share {
      background-image: url(./shared/images/btn_result.png);
      &:hover {
        background-image: url(./shared/images/btn_result_hover.png);
      }
      &:active {
        background-image: url(./shared/images/btn_result_active.png);
      }
    }
    &-tryagain {
      background-image: url(./shared/images/btn_highline.png);
      &:hover {
        background-image: url(./shared/images/btn_highline_hover.png);
      }
      &:active {
        background-image: url(./shared/images/btn_highline_active.png);
      }
    }
  }
  @media only screen and ($mediaSm) {
    h3 {
      font-size: 1rem;
      line-height: 2.2rem;
      letter-spacing: 0.1rem;
      text-align: left;
      white-space:nowrap;
      button {
        width: 3rem;
      }
    }
    .p {
      font-size: 0.95rem;
      line-height: 1rem;
      letter-spacing: 0.1rem;
    }
    &-list {
      width: 300px;
    }
    .nav {
      padding: 10vh 0 0;
      .tag {
        &-box {
          width: 270px;
        }
        width: 85px;
        height: 26px;
        &:active {
          width: 85px;
          height: 26px;
        }
      }
    }
    .border {
      &-top {
        img {
          margin: -5vh auto;
          background-size: contain;
          background-repeat: no-repeat;
          width: 111px;
          height: 35px;
          background-image: url(./shared/images/btn_result.png);
        }
      }
    }
    .question {
      &-list {
        width: 300px;
      }
      &-container {
        margin: 10vh auto;
      }
      &-box {
        h3 {
          letter-spacing: 0.05rem;
          button {
            width: 3rem;
          }
        }
        .p {
          letter-spacing: 0.2rem;
          line-height: 1rem;
        }
      }
    }
    .button {
      &-box {
        width: 300px;
      }
      &-share,
      &-tryagain {
        width: 147px;
        height: 46px;
        transition: transform 200ms;
        &:active {
          width: 145px;
          height: 44px;
        }
      }
      &-share {
        background-image: url(./shared/images/btn_result.png);
        &:active {
          background-image: url(./shared/images/btn_result_active.png);
        }
      }
      &-tryagain {
        background-image: url(./shared/images/btn_highline.png);
        &:active {
          background-image: url(./shared/images/btn_highline_active.png);
        }
      }
    }
  }
  @media only screen and ($mediaMdLg) {
    .nav {
      padding: 10vh 0 1vh 0;
      .title {
        width: 193px;
        height: 28px;
      }
      .tag {
        &-box {
          width: 500px;
          margin-top: 6vh;
        }
        width: 167px;
        height: 53px;
        scale: .8;
        &:hover {
          width: 170px;
          height: 56px;
          background-image: url(./shared/images/btn_result_hover.png);
        }
        &:active {
          width: 170px;
          height: 56px;
        }
      }
    }
    .border {
      &-top {
        width: 800px;
        height: 70px;
        background-image: url(./questionList/images/border_top.png);
        img {
          width: 200px;
          height: 64px;
          scale: .8;
        }
      }
      &-middle {
        width: 800px;
        padding: 0 7%;
        background-image: url(./questionList/images/border_middle.png);
      }
      &-bottom {
        width: 800px;
        height: 30px;
        background-image: url(./questionList/images/border_bottom.png);
      }
    }
    .question {
      &-list {
        margin-top: 16vh;
        width: 800px;
        height: 57vh;
        overflow-y: scroll;
      }
      // &-container {
      //   margin: 5vh auto;
      // }
      &-box {
        margin: .5rem 0;
        h3 {
          font-size: 1.2rem;
          letter-spacing: 0.4rem;
          button {
            width: 3rem;
          }
        }
        .p {
          letter-spacing: 0.2rem;
          line-height: 2rem;
        }
      }
    }
    .button {
      &-box {
        width: 480px;
      }
      &-share,
      &-tryagain {
        width: 234px;
        height: 79px;
        scale: .8;
        &:hover {
          width: 241px;
          height: 77px;
          scale: .8;
        }
        &:active {
          width: 241px;
          height: 77px;
          scale: .8;
        }
      }
      &-share {
        &:hover {
          background-image: url(./shared/images/btn_result_hover.png);
        }
      }
      &-tryagain {
        &:hover {
          background-image: url(./shared/images/btn_highline_hover.png);
        }
      }
    }
  }
}
