@import "reset";
@import "base-variable";
@import "animate";
@font-face {
  font-family: FakePearl-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff)
      format("woff");
}

.container {
  background-color: $bg-color;
  background-image: url(../public/images/bgline.png);
  height: 100vh;
}

.landing {
  @extend %section-default;
  .subtitle {
    @extend %default;
    width: 395px;
    height: 40px;
    background-image: url(../public/images/subtitle_index.png);
    top: 10%;
  }
  .title {
    @extend %default;
    width: 445px;
    height: 103px;
    background-image: url(../public/images/title_index.png);
    top: 17%;
  }
  main {
    @extend %default;
    width: 512px;
    top: 28%;
  }
  p {
    @extend %default;
    top: 62%;
  }
  .btn {
    @extend %default;
    display: inline-block;
    width: 234px;
    height: 79px;
    background-image: url(../public/images/btn_bg_index.png);
    top: 72%;
    cursor: pointer;
    transition: transform 200ms;
    &:hover {
      width: 240px;
      height: 82px;
      img {
        width: 234px;
        transform: translate(-2px, -2px);
      }
      transform: translate(-3px, -3px);
      background-image: url(../public/images/btn_index_shadow2.png);
    }
  }
}

.quiz {
  @extend %section-default;
  nav {
    @extend %default;
    top: 15%;
    width: 454px;
    height: 16px;
    .slider {
      @extend %default;
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $highline-color-40;
      border-radius: 1rem;
      border: dashed 0.15rem $highline-color;
      .process-bar {
        position: relative;
        top: -45%;
        left: -1%;
        box-sizing: content-box;
        height: 18px;
        background-color: $highline-color;
        border-radius: 1rem 0 0 1rem;
        border: solid 0.2rem $highline-color-40;
      }
      .can {
        position: absolute;
        width: 65px;
        height: 56px;
        // left: -3%;
        top: -180%;
        background-image: url(../public/images/can.png);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
      }
    }
  }
  main {
    @extend %default;
    width: 512px;
    top: 20%;
  }
  .question {
    @extend %default;
    width: 458px;
    height: 81px;
    background-image: url(../public/images/question.png);
    top: 52%;
    left: -20%;
    line-height: 81px;
  }
  .answer {
    &-0,
    &-1 {
      @extend %default;
      width: 365px;
      height: 72px;
      border-radius: 2.5rem;
      cursor: pointer;
      &:hover {
        transform: translate(-15px, -4px);
        background-color: rgba(225, 225, 225, 0.5);
        background-blend-mode: lighten;
        font-size: 1.35rem;
      }
    }
    &-0 {
      top: 66%;
      background-image: url(../public/images/answer-top.png);
    }
    &-1 {
      top: 77%;
      background-image: url(../public/images/answer-bottom.png);
    }
  }
}

.quizend {
  @extend %section-default;
  .title {
    @extend %default;
    width: 193px;
    height: 28px;
    top: 10%;
    background-image: url(../public/images/title_quizend.png);
  }
  .photo {
    @extend %default;
    width: 270px;
    height: 270px;
    top: 17%;
    img {
      @extend %default-bg;
      border-radius: 50%;
    }
  }
  .btn {
    @extend %default;
    top: 35%;
    width: 450px;
    display: flex;
    justify-content: space-between;
    &-prev,
    &-next {
      @extend %default-bg;
      width: 48px;
      height: 48px;
      top: 80%;
    }
    &-prev {
      background-image: url(../public/images/btn_prev.png);
      &:hover {
        background-image: url(../public/images/btn_prev_hover.png);
      }
      &:active {
        background-image: url(../public/images/btn_prev_active.png);
      }
    }
    &-next {
      background-image: url(../public/images/btn_next.png);
      &:hover {
        background-image: url(../public/images/btn_next_hover.png);
      }
      &:active {
        background-image: url(../public/images/btn_next_active.png);
      }
    }
  }
  .question {
    @extend %default;
    width: 410px;
    height: 81px;
    padding-left: 30px;
    top: 53%;
    left: -20%;
    line-height: 81px;
    background-image: url(../public/images/question.png);
  }
  .int {
    @extend %default;
    width: 365px;
    height: 72px;
    border-radius: 2.5rem;
    top: 65%;
    background-image: url(../public/images/answer-top.png);
    cursor: pointer;
  }
  .submit {
    @extend %default;
    display: inline-block;
    width: 234px;
    height: 79px;
    background-image: url(../public/images/btn_result.png);
    top: 76%;
    cursor: pointer;
    transition: transform 200ms;
    &:hover {
      // width: 223px;
      // height: 71px;
      width: 241px;
      height: 77px;
      background-image: url(../public/images/btn_result_hover.png);
    }
    &:active {
      width: 241px;
      height: 77px;
      background-image: url(../public/images/btn_result_active.png);
    }
  }
}

.result {
  @extend %section-default;
  .title {
    @extend %default;
    width: 193px;
    height: 28px;
    top: 10%;
    background-image: url(../public/images/title_result.png);
  }
  .license {
    @extend %default;
    top: 18%;
    width: 670px;
    height: 420px;
    background-image: url(../public/images/result_bg.png);
    &-nickname {
      @extend %position;
      top: 26%;
    }
    &-title {
      @extend %default;
      width: 246px;
      height: 56px;
      bottom: 0;
      background-image: url(../public/images/result_title.png);
    }
    &-name {
      @extend %default;
      width: 74px;
      height: 29px;
      top: 18%;
      background-image: url(../public/images/result_name.png);
    }
    &-star {
      @extend %size;
      background-image: url(../public/images/result_star.png);
    }
    &-reward {
      @extend %default-bg;
      position: absolute;
      width: 155px;
      height: 184px;
      right: -1rem;
      bottom: -3rem;
      img {
        @extend %default-bg;
        position: absolute;
        top: 9%;
        right: 9%;
        width: 125px;
        height: 125px;
        border-radius: 50%;
      }
      &-name {
        @extend %default;
        width: 254px;
        height: 42px;
        top: 46%;
      }
    }
    &-loading {
      @extend %default-bg;
      position: absolute;
      // width: 87px;  // 60, 72, 87
      height: 29px;
      top: 36%;
      left: 26%;
      overflow: hidden;
      div {
        @extend %default-bg;
        width: 87px;
        height: 29px;
        background-image: url(../public/images/result_p.png);
      }
    }
    &-textbox {
      @extend %position;
      display: flex;
      flex-direction: column;
      top: 60%;
    }
  }
  .button {
    &-box {
      @extend %default;
      width: 520px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      top: 73%;
    }
    &-share,
    &-question,
    &-tryagain {
      @extend %default-bg;
      display: inline-block;
      width: 234px;
      height: 79px;
      cursor: pointer;
      transition: transform 200ms;
      &:hover {
        width: 241px;
        height: 77px;
      }
      &:active {
        width: 241px;
        height: 77px;
      }
    }
    &-share,
    &-question {
      margin-bottom: 1rem;
      background-image: url(../public/images/btn_result.png);
      &:hover {
        background-image: url(../public/images/btn_result_hover.png);
      }
      &:active {
        background-image: url(../public/images/btn_result_active.png);
      }
    }
    &-tryagain {
      margin: auto;
      background-image: url(../public/images/btn_highline.png);
      &:hover {
        background-image: url(../public/images/btn_highline_hover.png);
      }
      &:active {
        background-image: url(../public/images/btn_highline_active.png);
      }
    }
  }
}
