@import "reset";
@import "base-variable";
@import "animate";
@font-face {
  font-family: FakePearl-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff)
      format("woff");
}

body {
  background-color: $bg-color;
  background-image: url(../public/images/bgline.png);
}
.container {
  width: 100%;
  height: 100vh;
}

// .landing {
//   @extend %section-default;
//   .subtitle {
//     @extend %default;
//     background-image: url(./landing/images/subtitle_index.png);
//   }
//   .title {
//     @extend %default;
//     background-image: url(./landing/images/title_index.png);
//   }
//   main {
//     @extend %default;
//   }
//   p {
//     @extend %default;
//   }
//   .btn {
//     @extend %default;
//     display: inline-block;
//     background-image: url(./landing/images/btn_bg_index.png);
//     transition: transform 200ms;
//   }
//   @media only screen and ($mediaSm) {
//     .subtitle {
//       width: 220px;
//       height: 22px;
//       top: 10%;
//     }
//     .title {
//       width: 247px;
//       height: 57px;
//       top: 17%;
//     }
//     main {
//       width: 390px;
//       top: 28%;
//     }
//     p {
//       top: 57%;
//     }
//     .btn {
//       width: 195px;
//       height: 65px;
//       top: 67%;
//     }
//   }
//   @media only screen and ($mediaMdLg) {
//     .subtitle {
//       width: 395px;
//       height: 40px;
//       top: 10%;
//     }
//     .title {
//       width: 445px;
//       height: 103px;
//       top: 17%;
//     }
//     main {
//       width: 512px;
//       top: 28%;
//     }
//     p {
//       top: 62%;
//     }
//     .btn {
//       top: 72%;
//       width: 234px;
//       height: 79px;
//       &:hover {
//         width: 240px;
//         height: 82px;
//         img {
//           width: 234px;
//           transform: translate(-2px, -2px);
//         }
//         transform: translate(-3px, -3px);
//       }
//     }
//   }
// }

.quiz {
  @extend %section-default;
  nav {
    @extend %default;
    top: 15%;
    width: 454px;
    height: 16px;
    .slider {
      @extend %default;
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $highline-color-40;
      border-radius: 1rem;
      border: dashed 0.15rem $highline-color;
      .process-bar {
        position: relative;
        top: -45%;
        left: -1%;
        box-sizing: content-box;
        height: 18px;
        background-color: $highline-color;
        border-radius: 1rem 0 0 1rem;
        border: solid 0.2rem $highline-color-40;
      }
      .can {
        position: absolute;
        width: 65px;
        height: 56px;
        top: -180%;
        background-image: url(./quiz/images/can.png);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
      }
    }
  }
  main {
    @extend %default;
    width: 512px;
    top: 20%;
  }
  .question {
    @extend %default;
    width: 458px;
    height: 81px;
    background-image: url(../public/images/question.png);
    top: 52%;
    left: -20%;
    line-height: 81px;
  }
  .answer {
    &-0,
    &-1 {
      @extend %default;
      width: 365px;
      height: 72px;
      border-radius: 2.5rem;
    }
    &-0 {
      top: 66%;
      background-image: url(../public/images/answer-top.png);
    }
    &-1 {
      top: 77%;
      background-image: url(../public/images/answer-bottom.png);
    }
  }
  @media only screen and ($mediaSm) {
    .desktop {
      display: none;
    }
    nav {
      width: 227px;
      height: 13px;
      .slider {
        border: dashed 0.12rem $highline-color;
        .process-bar {
          left: -2%;
          height: 14px;
        }
        .can {
          width: 48px;
          height: 41px;
        }
      }
    }
    main {
      width: 390px;
      top: 30%;
    }
    .question {
      width: 305px;
      height: 57px;
      line-height: 3.5rem;
      top: 25%;
    }
    .answer {
      &-0,
      &-1 {
        width: 246px;
        height: 47px;
      }
      &-0 {
        top: 60%;
      }
      &-1 {
        top: 69%;
      }
    }
  }
  @media only screen and ($mediaMdLg) {
    .device {
      display: none;
    }
    .answer {
      &-0,
      &-1 {
        &:hover {
          transform: translate(-15px, -4px);
          background-color: rgba(225, 225, 225, 0.5);
          background-blend-mode: lighten;
          font-size: 1.35rem;
        }
      }
    }
  }
}

.quizend {
  @extend %section-default;
  .title {
    @extend %default;
    background-image: url(./result/images/title_quizend.png);
  }
  .photo {
    @extend %default;
    img {
      @extend %default-bg;
    }
  }
  .btn {
    @extend %default;
    display: flex;
    justify-content: space-between;
    &-prev,
    &-next {
      @extend %default-bg;
    }
    &-prev {
      background-image: url(./result/images/btn_prev.png);
      &:active {
        background-image: url(./result/images/btn_prev_active.png);
      }
    }
    &-next {
      background-image: url(./result/images/btn_next.png);
      &:hover {
        background-image: url(./result/images/btn_next_hover.png);
      }
    }
  }
  .question {
    @extend %default;
    background-image: url(../public/images/question.png);
  }
  .int {
    @extend %default;
    background-image: url(../public/images/answer-top.png);
    cursor: pointer;
  }
  .submit {
    @extend %default;
    background-image: url(../public/images/btn_result.png);
    &:active {
      background-image: url(../public/images/btn_result_active.png);
    }
  }
  @media only screen and ($mediaSm) {
    .photo {
      width: 240px;
      height: 240px;
    }
    .btn {
      width: 340px;
      top: 40%;
      &-prev {
        background-image: url(./result/images/btn_prev_hover.png);
        &:active {
          background-image: url(./result/images/btn_prev_active.png);
        }
      }
      &-next {
        background-image: url(./result/images/btn_next_hover.png);
        &:active {
          background-image: url(./result/images/btn_next_active.png);
        }
      }
    }
    .question {
      width: 305px;
      height: 57px;
      line-height: 3.5rem;
      top: 50%;
    }
    .int {
      width: 246px;
      height: 47px;
      top: 60%;
    }
    .submit {
      width: 147px;
      height: 46px;
      top: 70%;
      &:active {
        width: 145px;
        height: 44px;
      }
    }
  }
  @media only screen and ($mediaMdLg) {
    .title {
      width: 193px;
      height: 28px;
      top: 10%;
    }
    .photo {
      width: 270px;
      height: 270px;
      top: 17%;
      img {
        border-radius: 50%;
      }
    }
    .btn {
      top: 35%;
      width: 450px;
      &-prev,
      &-next {
        width: 48px;
        height: 48px;
        top: 80%;
      }
      &-prev {
        &:hover {
          background-image: url(./result/images/btn_prev_hover.png);
        }
      }
      &-next {
        &:hover {
          background-image: url(./result/images/btn_next_hover.png);
        }
      }
    }
    .question {
      width: 410px;
      height: 81px;
      padding-left: 30px;
      top: 53%;
      left: -20%;
      line-height: 81px;
    }
    .int {
      width: 365px;
      height: 72px;
      border-radius: 2.5rem;
      top: 65%;
    }
    .submit {
      width: 234px;
      height: 79px;
      top: 76%;
      transition: transform 200ms;
      &:hover {
        width: 223px;
        height: 71px;
        background-image: url(../public/images/btn_result_hover.png);
      }
      &:active {
        width: 241px;
        height: 77px;
      }
    }
  }
}

.result {
  @extend %section-default;
  .title {
    @extend %default;
    background-image: url(./result/images/title_result.png);
  }
  .license {
    @extend %default;
    background-image: url(./result/images/result_bg.png);
    &-nickname {
      @extend %position;
    }
    &-title {
      @extend %default;
      background-image: url(./result/images/result_title.png);
    }
    &-name {
      @extend %default;
      background-image: url(./result/images/result_name.png);
    }
    &-star {
      @extend %size;
      background-image: url(./result/images/result_star.png);
    }
    &-reward {
      @extend %default-bg;
      position: absolute;
      img {
        @extend %default-bg;
        position: absolute;
      }
      &-name {
        @extend %default;
      }
    }
    &-loading {
      @extend %default-bg;
      position: absolute;
      overflow: hidden;
      div {
        @extend %default-bg;
        background-image: url(./result/images/result_p.png);
      }
    }
    &-textbox {
      @extend %position;
      display: flex;
      flex-direction: column;
    }
  }
  .button {
    &-box {
      @extend %default;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &-share,
    &-question,
    &-tryagain {
      @extend %default-bg;
      display: inline-block;
    }
    &-share,
    &-question {
      transition: transform 200ms;
      background-image: url(../public/images/btn_result.png);
      &:hover {
        background-image: url(../public/images/btn_result_hover.png);
      }
      &:active {
        background-image: url(../public/images/btn_result_active.png);
      }
    }
    &-tryagain {
      margin: auto;
      background-image: url(../public/images/btn_highline.png);
      &:hover {
        background-image: url(../public/images/btn_highline_hover.png);
      }
      &:active {
        background-image: url(../public/images/btn_highline_active.png);
      }
    }
  }
  @media only screen and ($mediaSm) {
    .license {
      width: 320px;
      height: 202px;
      &-nickname {
        top: 22%;
      }
      &-title {
        width: 118px;
        height: 27px;
      }
      &-name {
        width: 36px;
        height: 14px;
      }
      &-reward {
        width: 100px;
        height: 119px;
        img {
          top: 10%;
          right: 11%;
          width: 77px;
          height: 77px;
        }
        &-name {
          width: 150px;
          height: 24px;
          top: 45%;
        }
      }
      &-loading {
        @extend %default-bg;
        width: 42px;
        height: 14px;
        div {
          width: 42px;
          height: 14px;
        }
      }
    }
    .button {
      &-box {
        width: 300px;
        top: 50%;
      }
      &-share,
      &-question,
      &-tryagain {
        width: 147px;
        height: 46px;
        &:active {
          width: 145px;
          height: 44px;
        }
      }
    }
  }
  @media only screen and ($mediaMdLg) {
    .title {
      width: 193px;
      height: 28px;
      top: 10%;
    }
    .license {
      top: 18%;
      width: 600px;
      height: 378px;
      &-nickname {
        top: 26%;
      }
      &-title {
        width: 246px;
        height: 56px;
        bottom: 0;
      }
      &-name {
        width: 74px;
        height: 29px;
        top: 18%;
      }
      &-reward {
        width: 155px;
        height: 184px;
        right: -1rem;
        bottom: -3rem;
        img {
          top: 9%;
          right: 9%;
          width: 125px;
          height: 125px;
          border-radius: 50%;
        }
        &-name {
          width: 254px;
          height: 42px;
          top: 46%;
        }
      }
      &-loading {
        // width: 87px;  // 60, 72, 87
        height: 29px;
        top: 36%;
        left: 26%;
        div {
          width: 87px;
          height: 29px;
        }
      }
      &-textbox {
        top: 60%;
      }
    }
    .button {
      &-box {
        width: 520px;
        top: 72%;
      }
      &-share,
      &-question,
      &-tryagain {
        width: 234px;
        height: 79px;
        &:hover {
          width: 224px;
          height: 70px;
        }
        &:active {
          width: 224px;
          height: 70px;
        }
      }
      &-share,
      &-question {
        margin-bottom: 1rem;
        &:hover {
          background-image: url(../public/images/btn_result_hover.png);
        }
      }
      &-tryagain {
        &:hover {
          background-image: url(../public/images/btn_highline_hover.png);
        }
      }
    }
  }
}

.answer {
  position: relative;
  padding: 10vh 0;
  width: 100%;
  .title {
    @extend %default;
    background-image: url(./answer/images/title_answer.png);
  }
  &-list {
    @extend %default;
    position: static;
    display: block;
  }
  &-box {
    display: block;
    h3 {
      display: flex;
      position: relative;
      text-align: left;
      button {
        width: 3rem;
      }
      img {
        display: inline-block;
      }
    }
    p {
      position: relative;
      text-align: left;
      text-align: justify;
    }
  }
  .button {
    &-box {
      @extend %default;
      position: static;
      display: flex;
      justify-content: space-between;
    }
    &-question-list,
    &-tryagain {
      @extend %default-bg;
      display: inline-block;
      transition: transform 200ms;
      &:active {
        width: 224px;
        height: 70px;
      }
    }
    &-question-list {
      background-image: url(../public/images/btn_result.png);
      &:active {
        background-image: url(../public/images/btn_result_active.png);
      }
    }
    &-tryagain {
      background-image: url(../public/images/btn_highline.png);
      &:active {
        background-image: url(../public/images/btn_highline_active.png);
      }
    }
  }
  @media only screen and ($mediaMd) {
    h3 {
      font-size: 1rem;
      line-height: 2.2rem;
      letter-spacing: 0.12rem;
      button {
        font-size: 1rem;
        height: 100%;
        color: $gray;
        font-family: Arial;
      }
    }

    .p {
      font-size: 0.95rem;
      line-height: 1.8rem;
      letter-spacing: 0.1rem;
    }
    &-list {
      width: 300px;
    }
    .button {
      &-box {
        width: 300px;
      }
      &-question-list,
      &-tryagain {
        width: 147px;
        height: 46px;
        &:active {
          width: 145px;
          height: 44px;
        }
      }
    }
  }
  @media only screen and ($mediaLg) {
    .title {
      width: 193px;
      height: 28px;
    }
    &-list {
      width: 650px;
      margin: 5vh auto;
    }
    &-box {
      margin: 1.2vh 0;
      h3 {
        letter-spacing: 0.4rem;
        img {
          width: 36px;
          height: 36px;
        }
      }
      p {
        left: 4%;
        letter-spacing: 0.3rem;
        width: 96%;
      }
    }
    .button {
      &-box {
        width: 520px;
      }
      &-question-list,
      &-tryagain {
        width: 234px;
        height: 79px;
        &:hover {
          width: 224px;
          height: 70px;
        }
        &:active {
          width: 224px;
          height: 70px;
        }
      }
      &-question-list {
        &:hover {
          background-image: url(../public/images/btn_result_hover.png);
        }
      }
      &-tryagain {
        &:hover {
          background-image: url(../public/images/btn_highline_hover.png);
        }
      }
    }
  }
}

.questionlist {
  position: relative;
  padding: 10vh 0;
  width: 100%;
  .nav {
    position: fixed;
    padding: 10vh 0 3vh 0;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    background-color: $bg-color;
    background-image: url(../public/images/bgline.png);
    z-index: 1;
    .title {
      @extend %default;
      width: 193px;
      height: 28px;
      background-image: url(./questionList/images/title_questionlist.png);
    }
    .tag {
      &-box {
        @extend %default-position;
        position: static;
        display: flex;
        justify-content: space-between;
        width: 600px;
        margin-top: 6vh;
      }
      @extend %default-bg;
      width: 167px;
      height: 53px;
      background-image: url(../public/images/btn_result.png);
      transition: transform 200ms;
      &:active {
        width: 170px;
        height: 56px;
        background-image: url(../public/images/btn_result_active.png);
      }
    }
  }
  .border {
    &-top {
      width: 800px;
      height: 70px;
      background-image: url(./questionList/images/border_top.png);
      img {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background-size: contain;
        background-repeat: no-repeat;
        width: 200px;
        height: 64px;
        background-image: url(../public/images/btn_result.png);
      }
    }
    &-middle {
      width: 800px;
      padding: 0 7%;
      background-image: url(./questionList/images/border_middle.png);
    }
    &-bottom {
      width: 800px;
      height: 30px;
      background-image: url(./questionList/images/border_bottom.png);
    }
  }
  .question {
    &-list {
      @extend %default;
      position: static;
      margin: 0 auto;
      display: block;
      margin-top: 16vh;
      width: 800px;
    }
    &-container {
      margin: 5vh auto;
    }
    &-box {
      margin: 1.2vh 0;
      display: block;
      h3 {
        display: flex;
        position: relative;
        text-align: left;
        letter-spacing: 0.4rem;
        img {
          display: inline-block;
          width: 36px;
          height: 36px;
        }
        button {
          width: 3rem;
        }
      }
      p {
        position: relative;
        left: 4%;
        text-align: left;
        letter-spacing: 0.2rem;
        line-height: 2rem;
        text-align: justify;
        width: 96%;
      }
    }
  }
  .button {
    &-box {
      @extend %default;
      width: 520px;
      display: flex;
      justify-content: space-between;
    }
    &-share,
    &-tryagain {
      @extend %default-bg;
      display: inline-block;
      width: 234px;
      height: 79px;
      transition: transform 200ms;
      &:hover {
        width: 241px;
        height: 77px;
      }
      &:active {
        width: 241px;
        height: 77px;
      }
    }
    &-share {
      background-image: url(../public/images/btn_result.png);
      &:hover {
        background-image: url(../public/images/btn_result_hover.png);
      }
      &:active {
        background-image: url(../public/images/btn_result_active.png);
      }
    }
    &-tryagain {
      background-image: url(../public/images/btn_highline.png);
      &:hover {
        background-image: url(../public/images/btn_highline_hover.png);
      }
      &:active {
        background-image: url(../public/images/btn_highline_active.png);
      }
    }
  }
  @media only screen and ($mediaSm) {
    h3 {
      font-size: 1rem;
      line-height: 2.2rem;
      letter-spacing: 0.1rem;
      button {
        font-size: 1.5rem;
        height: 100%;
        color: $gray;
        font-family: "Microsoft JhengHei", "微軟正黑體", "PingFang", "LiHei Pro",
          "黑體-繁", sans-serif;
      }
    }
    .p {
      font-size: 0.95rem;
      line-height: 1.2rem;
      letter-spacing: 0.1rem;
    }
    &-list {
      width: 300px;
    }
    .nav {
      .tag {
        &-box {
          width: 270px;
        }
        width: 85px;
        height: 26px;
        &:active {
          width: 85px;
          height: 26px;
        }
      }
    }
    .border {
      &-top {
        // width: 280px;
        // height: 25px;
        // background-image: url(./questionList/images/m_border_top.png);
        img {
          position: absolute;
          left: 0;
          right: 0;
          margin: -4vh auto;
          background-size: contain;
          background-repeat: no-repeat;
          width: 111px;
          height: 35px;
          background-image: url(../public/images/btn_result.png);
        }
      }
      // &-middle {
      //   width: 280px;
      //   background-image: url(./questionList/images/m_border_middle.png);
      // }
      // &-bottom {
      //   width: 280px;
      //   height: 11px;
      //   background-image: url(./questionList/images/m_border_bottom.png);
      // }
    }
    .question {
      &-list {
        width: 300px;
      }
      &-box {
        h3 {
          letter-spacing: 0.05rem;
          button {
            font-size: 12px;
          }
        }
      }
    }
    .button {
      &-box {
        width: 300px;
      }
      &-share,
      &-tryagain {
        width: 147px;
        height: 46px;
        transition: transform 200ms;
        &:active {
          width: 145px;
          height: 44px;
        }
      }
      &-share {
        background-image: url(../public/images/btn_result.png);
        &:active {
          background-image: url(../public/images/btn_result_active.png);
        }
      }
      &-tryagain {
        background-image: url(../public/images/btn_highline.png);
        &:active {
          background-image: url(../public/images/btn_highline_active.png);
        }
      }
    }
    @media only screen and ($mediaLg) {
      .nav {
        padding: 10vh 0 3vh 0;
        .title {
          width: 193px;
          height: 28px;
        }
        .tag {
          &-box {
            width: 600px;
            margin-top: 6vh;
          }
          width: 167px;
          height: 53px;
          &:hover {
            width: 170px;
            height: 56px;
            background-image: url(../public/images/btn_result_hover.png);
          }
          &:active {
            width: 170px;
            height: 56px;
          }
        }
      }
      .border {
        &-top {
          width: 800px;
          height: 70px;
          background-image: url(./questionList/images/border_top.png);
          img {
            width: 200px;
            height: 64px;
          }
        }
        &-middle {
          width: 800px;
          padding: 0 7%;
          background-image: url(./questionList/images/border_middle.png);
        }
        &-bottom {
          width: 800px;
          height: 30px;
          background-image: url(./questionList/images/border_bottom.png);
        }
      }
      .question {
        &-list {
          margin-top: 16vh;
          width: 800px;
        }
        &-container {
          margin: 5vh auto;
        }
        &-box {
          margin: 1.2vh 0;
          h3 {
            letter-spacing: 0.4rem;
            img {
              width: 36px;
              height: 36px;
            }
            button {
              width: 3rem;
            }
          }
          p {
            letter-spacing: 0.2rem;
            line-height: 2rem;
          }
        }
      }
      .button {
        &-box {
          width: 520px;
        }
        &-share,
        &-tryagain {
          width: 234px;
          height: 79px;
          &:hover {
            width: 241px;
            height: 77px;
          }
          &:active {
            width: 241px;
            height: 77px;
          }
        }
        &-share {
          &:hover {
            background-image: url(../public/images/btn_result_hover.png);
          }
        }
        &-tryagain {
          &:hover {
            background-image: url(../public/images/btn_highline_hover.png);
          }
        }
      }
    }
  }
}
