@import "reset";
@import "base-variable";
@import "animate";
@font-face {
  font-family: FakePearl-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff)
      format("woff");
}

body {
  background-color: $bg-color;
  background-image: url(../public/images/bgline.png);
}
.container {
  width: 100%;
  height: 100vh;
}

.landing {
  @extend %section-default;
  .subtitle {
    @extend %default;
    width: 395px;
    height: 40px;
    background-image: url(./landing/images/subtitle_index.png);
    top: 10%;
  }
  .title {
    @extend %default;
    width: 445px;
    height: 103px;
    background-image: url(./landing/images/title_index.png);
    top: 17%;
  }
  main {
    @extend %default;
    width: 512px;
    top: 28%;
  }
  p {
    @extend %default;
    top: 62%;
  }
  .btn {
    @extend %default;
    display: inline-block;
    background-image: url(./landing/images/btn_bg_index.png);
    top: 72%;
    width: 234px;
    height: 79px;
    transition: transform 200ms;
  }
  @media only screen and ($mediaSm) {
    .subtitle {
      width: 220px;
      height: 22px;
    }
    .title {
      width: 247px;
      height: 57px;
    }
    main {
      width: 390px;
    }
    p {
      top: 58%;
    }
    .btn {
      width: 195px;
      height: 65px;
      transition: transform 200ms;
      top: 68%;
    }
  }
  @media only screen and ($mediaMdLg) {
    .btn {
      &:hover {
        width: 240px;
        height: 82px;
        img {
          width: 234px;
          transform: translate(-2px, -2px);
        }
        transform: translate(-3px, -3px);
        background-image: url(./landing/images/btn_index_shadow2.png);
      }
    }
  }
}

.quiz {
  @extend %section-default;
  nav {
    @extend %default;
    top: 15%;
    width: 454px;
    height: 16px;
    .slider {
      @extend %default;
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $highline-color-40;
      border-radius: 1rem;
      border: dashed 0.15rem $highline-color;
      .process-bar {
        position: relative;
        top: -45%;
        left: -1%;
        box-sizing: content-box;
        height: 18px;
        background-color: $highline-color;
        border-radius: 1rem 0 0 1rem;
        border: solid 0.2rem $highline-color-40;
      }
      .can {
        position: absolute;
        top: -180%;
        background-image: url(./quiz/images/can.png);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
      }
    }
  }
  main {
    @extend %default;
    width: 512px;
    top: 20%;
  }
  .question {
    @extend %default;
    width: 458px;
    height: 81px;
    background-image: url(../public/images/question.png);
    top: 52%;
    left: -20%;
    line-height: 81px;
  }
  .answer {
    &-0,
    &-1 {
      @extend %default;
      width: 365px;
      height: 72px;
      border-radius: 2.5rem;
    }
    &-0 {
      top: 66%;
      background-image: url(../public/images/answer-top.png);
    }
    &-1 {
      top: 77%;
      background-image: url(../public/images/answer-bottom.png);
    }
  }
  @media only screen and ($mediaSm) {
    nav {
      width: 227px;
      height: 13px;
      .can {
        width: 48px;
        height: 41px;
      }
    }
    main {
      width: 390px;
      top: 30%;
    }
    .question {
      width: 305px;
      height: 57px;
      line-height: 3.5rem;
      top: 22%;
    }
    .answer {
      &-0,
      &-1 {
        width: 246px;
        height: 47px;
      }
      &-0 {
        top: 60%;
      }
      &-1 {
        top: 69%;
      }
    }
  }
  @media only screen and ($mediaMdLg) {
    .can {
      width: 65px;
      height: 56px;
    }
  }
}

.quizend {
  @extend %section-default;
  .title {
    @extend %default;
    width: 193px;
    height: 28px;
    top: 10%;
    background-image: url(./result/images/title_quizend.png);
  }
  .photo {
    @extend %default;
    width: 270px;
    height: 270px;
    top: 17%;
    img {
      @extend %default-bg;
      border-radius: 50%;
    }
  }
  .btn {
    @extend %default;
    top: 35%;
    width: 450px;
    display: flex;
    justify-content: space-between;
    &-prev,
    &-next {
      @extend %default-bg;
      width: 48px;
      height: 48px;
      top: 80%;
    }
    &-prev {
      background-image: url(./result/images/btn_prev.png);
      &:hover {
        background-image: url(./result/images/btn_prev_hover.png);
      }
      &:active {
        background-image: url(./result/images/btn_prev_active.png);
      }
    }
    &-next {
      background-image: url(./result/images/btn_next.png);
      &:hover {
        background-image: url(./result/images/btn_next_hover.png);
      }
      &:active {
        background-image: url(./result/images/btn_next_active.png);
      }
    }
  }
  .question {
    @extend %default;
    width: 410px;
    height: 81px;
    padding-left: 30px;
    top: 53%;
    left: -20%;
    line-height: 81px;
    background-image: url(../public/images/question.png);
  }
  .int {
    @extend %default;
    width: 365px;
    height: 72px;
    border-radius: 2.5rem;
    top: 65%;
    background-image: url(../public/images/answer-top.png);
    cursor: pointer;
  }
  .submit {
    @extend %default;
    display: inline-block;
    width: 234px;
    height: 79px;
    background-image: url(../public/images/btn_result.png);
    top: 76%;
  }
  @media only screen and ($mediaSm) {
    .photo {
      width: 240px;
      height: 240px;
    }
    .btn {
      width: 340px;
      top: 40%;
      &-prev {
        background-image: url(./result/images/btn_prev_hover.png);
        &:active {
          background-image: url(./result/images/btn_prev_active.png);
        }
      }
      &-next {
        background-image: url(./result/images/btn_next_hover.png);
        &:active {
          background-image: url(./result/images/btn_next_active.png);
        }
      }
    }
    .question {
      width: 305px;
      height: 57px;
      line-height: 3.5rem;
      top: 50%;
    }
    .int {
      width: 246px;
      height: 47px;
      top: 60%;
    }
    .submit {
      width: 147px;
      height: 46px;
      top: 70%;
      &:active {
        background-image: url(../public/images/btn_result_active.png);
      }
    }
  }
  @media only screen and ($mediaMdLg) {
    .submit {
      transition: transform 200ms;
      &:hover {
        width: 223px;
        height: 71px;
        background-image: url(../public/images/btn_result_hover.png);
      }
      &:active {
        width: 241px;
        height: 77px;
        background-image: url(../public/images/btn_result_active.png);
      }
    }
  }
}

.result {
  @extend %section-default;
  .title {
    @extend %default;
    width: 193px;
    height: 28px;
    top: 10%;
    background-image: url(./result/images/title_result.png);
  }
  .license {
    @extend %default;
    top: 18%;
    width: 670px;
    height: 420px;
    background-image: url(./result/images/result_bg.png);
    &-nickname {
      @extend %position;
      top: 26%;
    }
    &-title {
      @extend %default;
      width: 246px;
      height: 56px;
      bottom: 0;
      background-image: url(./result/images/result_title.png);
    }
    &-name {
      @extend %default;
      width: 74px;
      height: 29px;
      top: 18%;
      background-image: url(./result/images/result_name.png);
    }
    &-star {
      @extend %size;
      background-image: url(./result/images/result_star.png);
    }
    &-reward {
      @extend %default-bg;
      position: absolute;
      width: 155px;
      height: 184px;
      right: -1rem;
      bottom: -3rem;
      img {
        @extend %default-bg;
        position: absolute;
        top: 9%;
        right: 9%;
        width: 125px;
        height: 125px;
        border-radius: 50%;
      }
      &-name {
        @extend %default;
        width: 254px;
        height: 42px;
        top: 46%;
      }
    }
    &-loading {
      @extend %default-bg;
      position: absolute;
      // width: 87px;  // 60, 72, 87
      height: 29px;
      top: 36%;
      left: 26%;
      overflow: hidden;
      div {
        @extend %default-bg;
        width: 87px;
        height: 29px;
        background-image: url(./result/images/result_p.png);
      }
    }
    &-textbox {
      @extend %position;
      display: flex;
      flex-direction: column;
      top: 60%;
    }
  }
  .button {
    &-box {
      @extend %default;
      width: 520px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      top: 69%;
    }
    &-share,
    &-question,
    &-tryagain {
      @extend %default-bg;
      display: inline-block;
      width: 234px;
      height: 79px;
      transition: transform 200ms;
      &:hover {
        width: 241px;
        height: 77px;
      }
      &:active {
        width: 241px;
        height: 77px;
      }
    }
    &-share,
    &-question {
      margin-bottom: 1rem;
      background-image: url(../public/images/btn_result.png);
      &:hover {
        background-image: url(../public/images/btn_result_hover.png);
      }
      &:active {
        background-image: url(../public/images/btn_result_active.png);
      }
    }
    &-tryagain {
      margin: auto;
      background-image: url(../public/images/btn_highline.png);
      &:hover {
        background-image: url(../public/images/btn_highline_hover.png);
      }
      &:active {
        background-image: url(../public/images/btn_highline_active.png);
      }
    }
  }
}

.answer {
  position: relative;
  padding: 10vh 0;
  width: 100%;
  .title {
    @extend %default;
    width: 193px;
    height: 28px;
    background-image: url(./answer/images/title_answer.png);
  }
  &-list {
    @extend %default;
    position: static;
    display: block;
    width: 650px;
    margin: 5vh auto;
  }
  &-box {
    margin: 1.2vh 0;
    display: block;
    h3 {
      display: flex;
      position: relative;
      text-align: left;
      letter-spacing: 0.4rem;
      img {
        display: inline-block;
        width: 36px;
        height: 36px;
      }
    }
    p {
      position: relative;
      left: 4%;
      text-align: left;
      letter-spacing: 0.3rem;
      text-align: justify;
      width: 96%;
    }
  }
  .button {
    &-box {
      @extend %default;
      position: static;
      width: 520px;
      display: flex;
      justify-content: space-between;
    }
    &-question-list,
    &-tryagain {
      @extend %default-bg;
      display: inline-block;
      width: 234px;
      height: 79px;
      transition: transform 200ms;
      &:hover {
        width: 241px;
        height: 77px;
      }
      &:active {
        width: 241px;
        height: 77px;
      }
    }
    &-question-list {
      background-image: url(../public/images/btn_result.png);
      &:hover {
        background-image: url(../public/images/btn_result_hover.png);
      }
      &:active {
        background-image: url(../public/images/btn_result_active.png);
      }
    }
    &-tryagain {
      background-image: url(../public/images/btn_highline.png);
      &:hover {
        background-image: url(../public/images/btn_highline_hover.png);
      }
      &:active {
        background-image: url(../public/images/btn_highline_active.png);
      }
    }
  }
}

.questionlist {
  position: relative;
  padding: 10vh 0;
  width: 100%;
  .nav {
    position: fixed;
    padding: 10vh 0 3vh 0;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    background-color: $bg-color;
    background-image: url(../public/images/bgline.png);
    z-index: 1;
    .title {
      @extend %default;
      width: 193px;
      height: 28px;
      background-image: url(./questionList/images/title_questionlist.png);
    }
    .tag {
      &-box {
        @extend %default-position;
        position: static;
        display: flex;
        justify-content: space-between;
        width: 600px;
        margin-top: 6vh;
      }
      @extend %default-bg;
      width: 167px;
      height: 53px;
      background-image: url(../public/images/btn_result.png);
    }
  }
  .border {
    &-top {
      width: 800px;
      height: 70px;
      background-image: url(./questionList/images/border_top.png);
      img {
        @extend %default;
        width: 234px;
        height: 79px;
        background-image: url(../public/images/btn_result.png);
      }
    }
    &-middle {
      width: 800px;
      padding: 0 7%;
      background-image: url(./questionList/images/border_middle.png);
    }
    &-bottom {
      width: 800px;
      height: 30px;
      background-image: url(./questionList/images/border_bottom.png);
    }
  }
  .question {
    &-list {
      @extend %default;
      position: static;
      margin: 0 auto;
      display: block;
      margin-top: 15vh;
      width: 800px;
    }
    &-container {
      margin: 5vh auto;
    }
    &-box {
      margin: 1.2vh 0;
      display: block;
      h3 {
        display: flex;
        position: relative;
        text-align: left;
        letter-spacing: 0.4rem;
        img {
          display: inline-block;
          width: 36px;
          height: 36px;
        }
      }
      p {
        position: relative;
        left: 4%;
        text-align: left;
        letter-spacing: 0.3rem;
        text-align: justify;
        width: 96%;
      }
    }
  }
  .button {
    &-box {
      @extend %default;
      position: static;
      width: 234px;
    }
    &-tryagain {
      @extend %default-bg;
      display: inline-block;
      width: 234px;
      height: 79px;
      transition: transform 200ms;
      &:hover {
        width: 241px;
        height: 77px;
      }
      &:active {
        width: 241px;
        height: 77px;
      }
    }
    &-tryagain {
      background-image: url(../public/images/btn_highline.png);
      &:hover {
        background-image: url(../public/images/btn_highline_hover.png);
      }
      &:active {
        background-image: url(../public/images/btn_highline_active.png);
      }
    }
  }
}
